<?xml version="1.0" encoding="utf-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">

	<filter>
		<filter-name>ObjectifyFilter</filter-name>
		<filter-class>com.googlecode.objectify.ObjectifyFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>ObjectifyFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	
	<servlet>
		<servlet-name>QueueJobServlet</servlet-name>
		<servlet-class>be.gcroes.thesis.docproc.gae.QueueJobServlet</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>QueueJobServlet</servlet-name>
		<url-pattern>/queuejob</url-pattern>
	</servlet-mapping>
	
	<!-- Worker servlets -->
	<servlet>
		<servlet-name>CsvToDataServlet</servlet-name>
		<servlet-class>be.gcroes.thesis.docproc.gae.CsvToDataServlet</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>CsvToDataServlet</servlet-name>
		<url-pattern>/csvtodata</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>TemplateServlet</servlet-name>
		<servlet-class>be.gcroes.thesis.docproc.gae.TemplateServlet</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>TemplateServlet</servlet-name>
		<url-pattern>/template</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>RenderServlet</servlet-name>
		<servlet-class>be.gcroes.thesis.docproc.gae.RenderServlet</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>RenderServlet</servlet-name>
		<url-pattern>/render</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>MailServlet</servlet-name>
		<servlet-class>be.gcroes.thesis.docproc.gae.MailServlet</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>MailServlet</servlet-name>
		<url-pattern>/mail</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>ZipServlet</servlet-name>
		<servlet-class>be.gcroes.thesis.docproc.gae.ZipServlet</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>ZipServlet</servlet-name>
		<url-pattern>/zip</url-pattern>
	</servlet-mapping>
	
	
</web-app>
